In [1]:
import pandas as pd
import numpy as np
import matplotlib

In [12]:
T = 10
xc = 5
xmax = 10
d = [0, 0.004, 0.02]
f = [1.0, 0.4, 0.6]
c = [1, 1, 1]
p = [0, 3, 5]

# Init matrices
sMat = pd.DataFrame(index=range(xmax,-1,-1), columns=range(T))
iMat = pd.DataFrame(index=range(xmax,-1,-1), columns=range(T))

# Starting Probabilities at t = T
sMat.loc[xmax:xc+1,T-1] = 1.0
sMat.loc[xc:0, T-1] = 0.0
iMat[T-1] = None

In [13]:
def calcSurvival(x, time, d, f, c, p):
    smax = 0.0
    ch = 0
    for i in range(0, 3, 1):
        survFeast = (x-c[i]+p[i])
        if survFeast > xmax:
            survFeast = xmax
        elif survFeast < 0:
            survFeast = 0
        survStarve = (x-c[i])
        if survStarve > xmax:
            survStarve = xmax
        elif survStarve < 0:
            survStarve = 0
        s = ((1-d[i])*(f[i])*(sMat.loc[survFeast,time+1]))-((1-d[i])*(1-f[i])*(sMat.loc[survStarve,time+1]))
        if smax < s:
            smax = s
            ch = i + 1
    return smax, ch

In [14]:
for i in range(T-2,-1,-1):
    for j in range(xmax,-1, -1):
        print(str(i)+ "\t"+str(j))
        smax, ch = calcSurvival(j, i, d, f, c, p)
        sMat.loc[j,i] = smax
        iMat.loc[j,i] = ch

8	10
8	9
8	8
8	7
8	6
8	5
8	4
8	3
8	2
8	1
8	0
7	10
7	9
7	8
7	7
7	6
7	5
7	4
7	3
7	2
7	1
7	0
6	10
6	9
6	8
6	7
6	6
6	5
6	4
6	3
6	2
6	1
6	0
5	10
5	9
5	8
5	7
5	6
5	5
5	4
5	3
5	2
5	1
5	0
4	10
4	9
4	8
4	7
4	6
4	5
4	4
4	3
4	2
4	1
4	0
3	10
3	9
3	8
3	7
3	6
3	5
3	4
3	3
3	2
3	1
3	0
2	10
2	9
2	8
2	7
2	6
2	5
2	4
2	3
2	2
2	1
2	0
1	10
1	9
1	8
1	7
1	6
1	5
1	4
1	3
1	2
1	1
1	0
0	10
0	9
0	8
0	7
0	6
0	5
0	4
0	3
0	2
0	1
0	0

In [15]:
sMat

,0,1,2,3,4,5,6,7,8,9
10,0.588,0.588,0.588,0.588,0.588,1.0,1.0,1.0,1.0,1.0
9,0.345744,0.588,0.588,0.588,0.588,0.588,1.0,1.0,1.0,1.0
8,0.345744,0.345744,0.588,0.588,0.588,0.588,0.588,1.0,1.0,1.0
7,0.345744,0.345744,0.345744,0.588,0.588,0.588,0.588,0.588,1.0,1.0
6,0.345744,0.345744,0.345744,0.345744,0.588,0.588,0.588,0.588,0.588,1.0
5,0.345744,0.345744,0.345744,0.345744,0.345744,0.588,0.588,0.588,0.588,0.0
4,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.588,0.588,0.588,0.0
3,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.588,0.588,0.0
2,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.588,0.0
1,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.0,0.0
0,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.345744,0.0,0.0

In [16]:
iMat

    0  1  2  3  4  5  6  7  8     9
10  1  1  1  1  1  1  1  1  1  None
9   1  1  1  1  1  1  1  1  1  None
8   1  1  1  1  1  1  1  1  1  None
7   1  1  1  1  1  1  1  1  1  None
6   1  1  1  1  1  1  1  1  3  None
5   1  1  1  1  1  1  1  1  3  None
4   1  1  1  1  1  1  1  1  3  None
3   1  1  1  1  1  1  1  1  3  None
2   1  1  1  1  1  1  1  3  3  None
1   1  1  1  1  1  1  1  3  0  None
0   1  1  1  1  1  1  1  3  0  None

In [2]:
pd.DataFrame(columns = ["time_point", "Env", "Pop", "zBar", "envTheta", "popN",])

Empty DataFrame
Columns: [time_point, Env, Pop, zBar, envTheta, popN]
Index: []